html {
  height: 100%;
  width: 100%;
}
body {
background-color: #0077b3; /* Micro Bit blue */
}

h1 {
color: #ffffff; /* White */
font-size: 24px;
}

h2 {
color: #cccccc; /* Light gray */
font-size: 18px;
}

p {
color: #cccccc; /* Dark gray */
font-size: 20px;
}

hr {
border-top: 1px solid #cccccc; /* Light gray */
}

a {
color: #ffffff; /* Micro Bit blue */
text-decoration: none;
}

a:hover {
color: #ffffff; /* White */
text-decoration: underline;
}

img {
  border-radius: 7%;
}

.flexbox {
  display: flex;
}

.text {
  margin-left: 15px;
}

.What {
  width: 300px;
  border: 15px solid #cccccc;
  padding: 50px;
  margin: 20px;
  border-radius: 7%;
  text-align: center;
}

ul {
  font-weight: bold;
  color: #ffffff;
}